{% extends 'base.html'%}

{% block title %}
Add Blog

{% endblock %}

{% block content %}

{% if user.is_authenticated %}

<h1>Add Blog</h1>
<br/>
<br/>
<div class="form-group"></div>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}
    {{ form.as_p }}

    <button class="btn btn-secondary">Save</button>

    <script>
        var name = "{{ user.id }}"
        document.getElementById("elder").value = name;

    </script>
</form>
</div>
{% endif %}

{% endblock %}